/*
*= require_self
*= encoding UTF-8
*/

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(cpd.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 30px;
}

.intro .intro-body .intro-text {
    font-size: 15px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
    }

    .intro .intro-body .brand-heading {
        font-size: 60px;
    }

    .intro .intro-body .intro-text {
        font-size: 15px;
    }
}