@font-face {
    font-family: 'gitlab';
    src:    url('gitlab.eot?h532fi');
    src:    url('gitlab.eot?h532fi#iefix') format('embedded-opentype'),
        url('gitlab.ttf?h532fi') format('truetype'),
        url('gitlab.woff?h532fi') format('woff'),
        url('gitlab.svg?h532fi#gitlab') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cf {
  display: inline-block;
  font: normal normal normal 14px/1 'gitlab' !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cf-fw {
  width: 1.28571429em;
  text-align: center;
}

.icon-gitlab:before {
    content: "\e900";
}

